<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include $(var.SolutionDir)TwitchLeecher.Setup.Msi\Variables.wxi?>

  <Fragment>
    <ComponentGroup Id="FeatureTLStartMenuComponents">
      <Component Directory="ShortcutsFolder">
        <RemoveFolder Id="ShortcutsFolderUninstall" On="uninstall" />
        <RegistryKey Root="HKMU" Key="[TL_REGISTRY_PATH]">
          <RegistryValue Name="Shortcuts" Type="string" Value="Installed" KeyPath="yes" />
        </RegistryKey>
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="FeatureTLRegistryComponents">
      <Component Directory="INSTALLDIR">
        <RegistryKey Root="HKMU" Key="[TL_REGISTRY_PATH]">
          <RegistryValue Id="TL_INSTALLDIR_REGVALUE" Name="[TL_INSTALLDIR_REGVALUENAME]" Type="string" Value="[INSTALLDIR]" KeyPath="yes" />
        </RegistryKey>
      </Component>
    </ComponentGroup>

    <DirectoryRef Id="INSTALLDIR">
    </DirectoryRef>

    <ComponentGroup Id="FeatureTLComponents">
      <Component Directory="INSTALLDIR">
        <File Id="TL_LICENSE" KeyPath="yes" Source="$(var.SolutionDir)..\LICENSE" />
      </Component>

      <Component Directory="INSTALLDIR">
        <File Id="TL_ffmpeg.exe" KeyPath="yes" Source="$(var.TL_SOURCE_DIR)ffmpeg.exe" />
      </Component>
      <Component Directory="INSTALLDIR">
        <File Id="TL_FontAwesome.WPF.dll" KeyPath="yes" Source="$(var.TL_SOURCE_DIR)FontAwesome.WPF.dll" />
      </Component>
      <Component Directory="INSTALLDIR">
        <File Id="TL_Microsoft.WindowsAPICodePack.dll" KeyPath="yes" Source="$(var.TL_SOURCE_DIR)Microsoft.WindowsAPICodePack.dll" />
      </Component>
      <Component Directory="INSTALLDIR">
        <File Id="TL_Microsoft.WindowsAPICodePack.Shell.dll" KeyPath="yes" Source="$(var.TL_SOURCE_DIR)Microsoft.WindowsAPICodePack.Shell.dll" />
      </Component>
      <Component Directory="INSTALLDIR">
        <File Id="TL_Newtonsoft.Json.dll" KeyPath="yes" Source="$(var.TL_SOURCE_DIR)Newtonsoft.Json.dll" />
      </Component>
      <Component Directory="INSTALLDIR">
        <File Id="TL_Ninject.dll" KeyPath="yes" Source="$(var.TL_SOURCE_DIR)Ninject.dll" />
      </Component>
      <Component Directory="INSTALLDIR">
        <File Id="TL_TwitchLeecher.Core.dll" KeyPath="yes" Source="$(var.TL_SOURCE_DIR)TwitchLeecher.Core.dll" />
      </Component>
      <Component Directory="INSTALLDIR">
        <File Id="TL_TwitchLeecher.exe" KeyPath="yes" Source="$(var.TL_SOURCE_DIR)TwitchLeecher.exe">
          <Shortcut Id="TL_Shortcut"
                    Name="Twitch Leecher"
                    Directory="ShortcutsFolder"
                    Icon="TL_Icon.exe"
                    Advertise="yes">
          </Shortcut>
        </File>
      </Component>
      <Component Directory="INSTALLDIR">
        <File Id="TL_TwitchLeecher.exe.config" KeyPath="yes" Source="$(var.TL_SOURCE_DIR)TwitchLeecher.exe.config" />
      </Component>
      <Component Directory="INSTALLDIR">
        <File Id="TL_TwitchLeecher.Gui.dll" KeyPath="yes" Source="$(var.TL_SOURCE_DIR)TwitchLeecher.Gui.dll" />
      </Component>
      <Component Directory="INSTALLDIR">
        <File Id="TL_TwitchLeecher.Services.dll" KeyPath="yes" Source="$(var.TL_SOURCE_DIR)TwitchLeecher.Services.dll" />
      </Component>
      <Component Directory="INSTALLDIR">
        <File Id="TL_TwitchLeecher.Shared.dll" KeyPath="yes" Source="$(var.TL_SOURCE_DIR)TwitchLeecher.Shared.dll" />
      </Component>
      <Component Directory="INSTALLDIR">
        <File Id="TL_Xceed.Wpf.Toolkit.dll" KeyPath="yes" Source="$(var.TL_SOURCE_DIR)Xceed.Wpf.Toolkit.dll" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>