<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">
  <?include $(var.SolutionDir)TwitchLeecher.Setup.Bootstrapper.Shared\Variables.wxi?>

  <Bundle Name ="$(var.BUNDLE_PRODUCT_NAME) $(var.BUNDLE_PRODUCT_VERSION_TRIMMED)"
          Tag ="TL"
          DisableModify="yes"
          Version ="$(var.BUNDLE_PRODUCT_VERSION_PADDED)"
          Manufacturer ="$(var.BUNDLE_MANUFACTURER)"
          UpgradeCode ="$(var.BUNDLE_UPGRADE_CODE)"
          AboutUrl="$(var.BUNDLE_ABOUT_URL)"
          IconSourceFile ="$(var.SolutionDir)Resources\Images\TL_Icon.ico">
    <BootstrapperApplicationRef Id="ManagedBootstrapperApplicationHost">
      <Payload SourceFile ="$(var.TwitchLeecher.Setup.Gui.TargetPath)" />
      <Payload SourceFile ="$(var.TwitchLeecher.Setup.Gui.TargetDir)BootstrapperCore.dll" />
      <Payload SourceFile ="$(var.TwitchLeecher.Setup.Gui.TargetDir)BootstrapperCore.config" />
      <Payload SourceFile ="$(var.TwitchLeecher.Setup.Gui.TargetDir)Microsoft.Deployment.WindowsInstaller.dll" />
    </BootstrapperApplicationRef>

    <Variable Name="BUNDLE_ARCHITECTURE" Type="string" Value="$(var.BUNDLE_ARCHITECTURE)" />
    <Variable Name="BUNDLE_MANUFACTURER" Type="string" Value="$(var.BUNDLE_MANUFACTURER)" />
    <Variable Name="BUNDLE_PRODUCT_NAME" Type="string" Value="$(var.BUNDLE_PRODUCT_NAME)" />

    <Variable Name="BUNDLE_PRODUCT_VERSION_PADDED" Type="string" Value="$(var.BUNDLE_PRODUCT_VERSION_PADDED)" />
    <Variable Name="BUNDLE_PRODUCT_VERSION_TRIMMED" Type="string" Value="$(var.BUNDLE_PRODUCT_VERSION_TRIMMED)" />

    <Chain>
      <PackageGroupRef Id="NetFx45Web" />
      <MsiPackage Id="TL" SourceFile="$(var.BUNDLE_TL_PROJECT_TARGET)" Cache="yes" Visible="no">
        <MsiProperty Name="INSTALLDIR" Value="[TL_INSTALLDIR]" />
        <MsiProperty Name="TL_INSTALLDIR_REGVALUENAME" Value="[TL_INSTALLDIR_REGVALUENAME]" />
        <MsiProperty Name="TL_INSTALLDIR" Value="[TL_INSTALLDIR]" />
        <MsiProperty Name="TL_INSTALLDIR_PERSISTED" Value="[TL_INSTALLDIR_PERSISTED]" />
        <MsiProperty Name="TL_DELETE_USER_DATA" Value="[TL_DELETE_USER_DATA]" />
      </MsiPackage>
    </Chain>
  </Bundle>
</Wix>