<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<?include $(var.SolutionDir)TwitchLeecher.Setup.Msi\Variables.wxi?>

	<Product Id="$(var.TL_PRODUCT_CODE)"
			 Name="$(var.TL_PRODUCT_NAME) $(var.TL_PRODUCT_VERSION_TRIMMED)"
			 Language="1033"
			 Version="$(var.TL_PRODUCT_VERSION_PADDED)"
			 Manufacturer="$(var.TL_MANUFACTURER)"
			 UpgradeCode="$(var.TL_UPGRADE_CODE)">

		<!-- PACKAGE -->
		<Package Id="*"
				 Description="$(var.TL_PRODUCT_NAME) $(var.TL_PRODUCT_VERSION_TRIMMED) Installer"
				 InstallerVersion="400"
				 Compressed="yes"
				 InstallScope="perMachine" />

		<!-- DISABLE ADVERTISED SHORTCUTS -->
		<Property Id="DISABLEADVTSHORTCUTS" Value="1" />

		<!-- UPGRADE -->
		<MajorUpgrade DowngradeErrorMessage="!(loc.UITextDowngradeError)" />

		<!-- MEDIA -->
		<Media Id="1" Cabinet="Setup.cab" EmbedCab="yes" />

		<!-- FORCE ADMIN PREVILEGES -->
		<Property Id="MSIUSEREALADMINDETECTION" Value="1" />

		<!-- ICONS -->
		<Icon Id="TL_Icon.exe" SourceFile="$(var.SolutionDir)Resources\Images\TL_Icon.ico" />

		<!-- ICON FOR "PROGRAMS AND FEATURES" -->
		<Property Id="ARPPRODUCTICON" Value="TL_Icon.exe" />

		<!-- DISABLE REPAIR MODE -->
		<Property Id="ARPNOMODIFY" Value="yes" Secure="yes" />
		<Property Id="ARPNOREPAIR" Value="yes" Secure="yes" />

		<!-- INSTALL CONDITIONS -->
		<Condition Message="!(loc.UITextUnsupportedOsError)">
			<![CDATA[Installed OR (VersionNT64 >= 602) OR (VersionNT64 = 601 AND ServicePackLevel = 1)]]>
		</Condition>

		<Condition Message="!(loc.UITextBitError)">
			<![CDATA[Installed OR VersionNT64]]>
		</Condition>

		<!-- PROPERTIES -->
		<Property Id="TL_REGISTRY_PATH" Value="Software\$(var.TL_PRODUCT_NAME)" />

		<Property Id="TL_INSTALLDIR_REGVALUENAME" Value="InstallDir" />
		<Property Id="TL_INSTALLDIR" Secure="yes" />
		<Property Id="TL_INSTALLDIR_PERSISTED">
			<RegistrySearch Id="TL_INSTALLDIR_REGSEARCH" Root="HKLM" Key="[TL_REGISTRY_PATH]" Name="[TL_INSTALLDIR_REGVALUENAME]" Type="raw" />
		</Property>
		<SetProperty Id="TL_INSTALLDIR" Value="[TL_INSTALLDIR_PERSISTED]" After="AppSearch">
			<![CDATA[TL_INSTALLDIR_PERSISTED]]>
		</SetProperty>

		<Property Id="TL_DELETE_USER_DATA" Secure="yes" />

		<!-- FEATURES -->
		<Feature
			Id="FeatureTL"
			Title="$(var.TL_PRODUCT_NAME) $(var.TL_PRODUCT_VERSION_TRIMMED)"
			Description="$(var.TL_PRODUCT_NAME) $(var.TL_PRODUCT_VERSION_TRIMMED)"
			Level="1"
			ConfigurableDirectory="INSTALLDIR"
			AllowAdvertise="no"
			InstallDefault="local"
			TypicalDefault="install"
			Absent="disallow">
			<ComponentGroupRef Id="FeatureVCRuntimeComponents" />
			<ComponentGroupRef Id="FeatureTLStartMenuComponents" />
			<ComponentGroupRef Id="FeatureTLRegistryComponents" />
			<ComponentGroupRef Id="FeatureTLComponents" />
		</Feature>

		<!-- DIRECTORIES -->
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFiles64Folder">
				<Directory Id="INSTALLDIR" Name="$(var.TL_PRODUCT_NAME)" />
			</Directory>
			<Directory Id="ProgramMenuFolder">
				<Directory Id="ShortcutsFolder" Name="$(var.TL_PRODUCT_NAME)" />
			</Directory>
		</Directory>

		<InstallExecuteSequence>
			<Custom Action="DeleteUserDataDeferredData" Before="InstallFinalize">
				<![CDATA[TL_DELETE_USER_DATA = 1]]>
			</Custom>
			<Custom Action="DeleteUserDataDeferred" After="DeleteUserDataDeferredData">
				<![CDATA[TL_DELETE_USER_DATA = 1]]>
			</Custom>
		</InstallExecuteSequence>
	</Product>
</Wix>