<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include $(var.SolutionDir)TwitchLeecher.Setup.Msi.Shared\Variables.wxi?>

  <Fragment>
    <!-- CUSTOM ACTION BINARIES -->
    <Binary Id="CustomActions" SourceFile="$(var.TL_CUSTOM_ACTION_DLL)" />

    <!-- UNINSTALL EXECUTE ACTIONS -->
    <CustomAction Id="DeleteProgramMenuFolderDeferredData" Property="DeleteProgramMenuFolderDeferred" Value="START_MENU_FOLDER=[ProgramMenuInstallFolder];TL_REGISTRY_PATH=[TL_REGISTRY_PATH]" />
    <CustomAction Id="DeleteProgramMenuFolderDeferred" BinaryKey="CustomActions" DllEntry="DeleteProgramMenuFolderDeferred" Return="check" Execute="deferred" />
  </Fragment>
</Wix>