<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <UI Id="Texts">
      <UIText Id="AbsentPath" />
      <UIText Id="bytes">!(loc.UITextbytes)</UIText>
      <UIText Id="GB">!(loc.UITextGB)</UIText>
      <UIText Id="KB">!(loc.UITextKB)</UIText>
      <UIText Id="MB">!(loc.UITextMB)</UIText>
      <UIText Id="MenuAbsent">!(loc.UITextMenuAbsent)</UIText>
      <UIText Id="MenuAdvertise">!(loc.UITextMenuAdvertise)</UIText>
      <UIText Id="MenuAllCD">!(loc.UITextMenuAllCD)</UIText>
      <UIText Id="MenuAllLocal">!(loc.UITextMenuAllLocal)</UIText>
      <UIText Id="MenuAllNetwork">!(loc.UITextMenuAllNetwork)</UIText>
      <UIText Id="MenuCD">!(loc.UITextMenuCD)</UIText>
      <UIText Id="MenuLocal">!(loc.UITextMenuLocal)</UIText>
      <UIText Id="MenuNetwork">!(loc.UITextMenuNetwork)</UIText>
      <UIText Id="NewFolder">!(loc.UITextNewFolder)</UIText>
      <UIText Id="ScriptInProgress">!(loc.UITextScriptInProgress)</UIText>
      <UIText Id="SelAbsentAbsent">!(loc.UITextSelAbsentAbsent)</UIText>
      <UIText Id="SelAbsentAdvertise">!(loc.UITextSelAbsentAdvertise)</UIText>
      <UIText Id="SelAbsentCD">!(loc.UITextSelAbsentCD)</UIText>
      <UIText Id="SelAbsentLocal">!(loc.UITextSelAbsentLocal)</UIText>
      <UIText Id="SelAbsentNetwork">!(loc.UITextSelAbsentNetwork)</UIText>
      <UIText Id="SelAdvertiseAbsent">!(loc.UITextSelAdvertiseAbsent)</UIText>
      <UIText Id="SelAdvertiseAdvertise">!(loc.UITextSelAdvertiseAdvertise)</UIText>
      <UIText Id="SelAdvertiseCD">!(loc.UITextSelAdvertiseCD)</UIText>
      <UIText Id="SelAdvertiseLocal">!(loc.UITextSelAdvertiseLocal)</UIText>
      <UIText Id="SelAdvertiseNetwork">!(loc.UITextSelAdvertiseNetwork)</UIText>
      <UIText Id="SelCDAbsent">!(loc.UITextSelCDAbsent)</UIText>
      <UIText Id="SelCDAdvertise">!(loc.UITextSelCDAdvertise)</UIText>
      <UIText Id="SelCDCD">!(loc.UITextSelCDCD)</UIText>
      <UIText Id="SelCDLocal">!(loc.UITextSelCDLocal)</UIText>
      <UIText Id="SelChildCostNeg">!(loc.UITextSelChildCostNeg)</UIText>
      <UIText Id="SelChildCostPos">!(loc.UITextSelChildCostPos)</UIText>
      <UIText Id="SelCostPending">!(loc.UITextSelCostPending)</UIText>
      <UIText Id="SelLocalAbsent">!(loc.UITextSelLocalAbsent)</UIText>
      <UIText Id="SelLocalAdvertise">!(loc.UITextSelLocalAdvertise)</UIText>
      <UIText Id="SelLocalCD">!(loc.UITextSelLocalCD)</UIText>
      <UIText Id="SelLocalLocal">!(loc.UITextSelLocalLocal)</UIText>
      <UIText Id="SelLocalNetwork">!(loc.UITextSelLocalNetwork)</UIText>
      <UIText Id="SelNetworkAbsent">!(loc.UITextSelNetworkAbsent)</UIText>
      <UIText Id="SelNetworkAdvertise">!(loc.UITextSelNetworkAdvertise)</UIText>
      <UIText Id="SelNetworkLocal">!(loc.UITextSelNetworkLocal)</UIText>
      <UIText Id="SelNetworkNetwork">!(loc.UITextSelNetworkNetwork)</UIText>
      <UIText Id="SelParentCostNegNeg">!(loc.UITextSelParentCostNegNeg)</UIText>
      <UIText Id="SelParentCostNegPos">!(loc.UITextSelParentCostNegPos)</UIText>
      <UIText Id="SelParentCostPosNeg">!(loc.UITextSelParentCostPosNeg)</UIText>
      <UIText Id="SelParentCostPosPos">!(loc.UITextSelParentCostPosPos)</UIText>
      <UIText Id="TimeRemaining">!(loc.UITextTimeRemaining)</UIText>
      <UIText Id="VolumeCostAvailable">!(loc.UITextVolumeCostAvailable)</UIText>
      <UIText Id="VolumeCostDifference">!(loc.UITextVolumeCostDifference)</UIText>
      <UIText Id="VolumeCostRequired">!(loc.UITextVolumeCostRequired)</UIText>
      <UIText Id="VolumeCostSize">!(loc.UITextVolumeCostSize)</UIText>
      <UIText Id="VolumeCostVolume">!(loc.UITextVolumeCostVolume)</UIText>
    </UI>
  </Fragment>
</Wix>