<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <?define NetFxVersion = 528040 ?>
  <?define NetFxWebLink = http://go.microsoft.com/fwlink/?LinkId=2085155 ?>
  <?define NetFxEulaLink = http://referencesource.microsoft.com/license.html ?>

  <Fragment>
    <util:RegistrySearch Root="HKLM" Key="SOFTWARE\Microsoft\NET Framework Setup\NDP\v4\Full" Value="Release" Variable="NetFxCurrent" />

    <WixVariable Id="NetFxCurrent" Value="" Overridable="yes" />
    <WixVariable Id="WixMbaPrereqPackageId" Value="NetFxWeb" />
    <WixVariable Id="WixMbaPrereqLicenseUrl" Value="$(var.NetFxEulaLink)" Overridable="yes" />
    <WixVariable Id="NetFxWebDetectCondition" Value="NetFxCurrent &gt;= $(var.NetFxVersion)" Overridable="yes" />

    <PackageGroup Id="NetFxWeb">
      <ExePackage
          InstallCommand="/q /norestart /ChainingPackage &quot;[WixBundleName]&quot; /log &quot;[NetFxFullLog].html&quot;"
          RepairCommand="/q /norestart /repair /ChainingPackage &quot;[WixBundleName]&quot; /log &quot;[NetFxFullLog].html&quot;"
          UninstallCommand="/uninstall /q /norestart /ChainingPackage &quot;[WixBundleName]&quot; /log &quot;[NetFxFullLog].html&quot;"
          PerMachine="yes"
          DetectCondition="!(wix.NetFxWebDetectCondition)"
          Id="NetFxWeb"
          Vital="yes"
          Permanent="yes"
          Protocol="netfx4"
          DownloadUrl="$(var.NetFxWebLink)"
          LogPathVariable="NetFxFullLog"
          Compressed="no"
          Name="ndp48-web.exe">
        <RemotePayload
          CertificateThumbprint="9DC17888B5CFAD98B3CB35C1994E96227F061675"
          Description="Microsoft .NET Framework 4.8 Setup"
          Hash="755349ECD6A478FE010E466B29911D2388F6CE94"
          ProductName="Microsoft .NET Framework 4.8"
          Size="1486376"
          Version="4.8.03761.0" />
      </ExePackage>
    </PackageGroup>
  </Fragment>
</Wix>