<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<?include $(var.SolutionDir)TwitchLeecher.Setup.Msi\Variables.wxi?>

	<Fragment>
		<!-- CUSTOM ACTION BINARIES -->
		<Binary Id="CustomActions" SourceFile="$(var.TL_CUSTOM_ACTION_DLL)" />

		<!-- BEFORE INSTALL PROPERTIES -->
		<CustomAction Id="SetProperties" BinaryKey="CustomActions" DllEntry="SetProperties" Return="check" Execute="immediate" />

		<!-- UNINSTALL EXECUTE ACTIONS -->
		<CustomAction Id="DeleteUserDataDeferredData" Property="DeleteUserDataDeferred" Value="TL_PRODUCT_NAME=$(var.TL_PRODUCT_NAME)" />
		<CustomAction Id="DeleteUserDataDeferred" BinaryKey="CustomActions" DllEntry="DeleteUserDataDeferred" Return="check" Execute="deferred" />
	</Fragment>
</Wix>